<!-- Section-->
<section class="py-5">
  <div class="container">
    <%= form_with model: item, url: admin_items_path do |f| %>
      <% if item.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% item.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="mb-3">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, required: true, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :price,  class: "form-label" %>
        <%= f.number_field :price, required: true, step: "0.01", min: 1, max: 1000, required: true, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :description, class: "form-label" %>
        <%= f.text_area :description, required: true, class: "form-control"  %>
      </div>
      <div class="mb-3">
        <%= f.submit "Add New Item", class: "btn btn-dark"%>
      </div>
    <% end %>
  </div>
</section>
