<!-- Section-->
<section class="py-5">
  <div class="container">
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <p style="color: green"><%= notice %></p>
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">price</th>
          <th scope="col">description</th>
          <th scope="col" width="5%">image</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
            <td><%= item.description %></td>
            <td><%= image_tag(item.image, class: "img-fluid mb-5 mb-md-0") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= button_to "Add New Item", new_admin_item_path, method: :get, class: "btn btn-dark"%>
  </div>
</section>
