<!-- Header-->
<%= render 'header' %>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6"><%= image_tag(@item.image, class: "card-img-top mb-5 mb-md-0") %></div>
      <div class="col-md-6">
        <div class="small mb-1">SKU: BST-<%=@item.id%></div>
        <h1 class="display-5 fw-bolder"><%= @item.name %></h1>
        <div class="fs-5 mb-5">
          <span class="text-decoration-line-through">$45.00</span>
          <span><%= @item.price %></span>
        </div>
        <p class="lead"><%= @item.description %></p>
        <%= form_with method: :post, url: carts_path, params: { id: @item.id } do |f| %>
          <%# 要素を横並びにする際はrowを用いる %>
          <div class="row">
            <%# form中の非表示の要素はtype: "hidden"を指定する %>
            <%= f.number_field :id, value: @item.id, type: "hidden" %>
            <%# 横並びにする要素はcolを指定 %>
            <div class="col-2">
              <%= f.number_field :quantity, value: 1, required: true, step:1, min: 1, max: 100, class: "form-control text-center me-3" %>
            </div>
            <div class="col-4">
              <%# submitボタンにアイコンを使う際はbutton_tag type: "submit"を指定する %>
              <%= button_tag type: "submit", class: "btn btn-outline-dark flex-shrink-0" do %>
                <i class="bi-cart-fill me-1"></i>
                Add to cart
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Related products</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <%= render @items %>
    </div>
  </div>
</section>
